*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Mulish', sans-serif;

}

p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
} 

:root{
    --ash-color: #424247; 
    --orange-color: #FF5400;
}

/* header section start */

nav{
    display: flex;
    padding: 50px 135px;
    justify-content: space-between;
    align-items: center;
}

nav > .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

nav > .i{
    font-size: 21px;
    font-weight: 400;
    color: var(--ash-color);
    display: none;

}

nav > .logo > h3{
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

nav > .logo span{
    color: var(--orange-color);
}

nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

nav > ul > li{
    list-style-type: none;
}

nav > ul > li > a{
    text-decoration: none;
    color: var(--ash-color);
    font-size: 18px;
    font-weight: 400;
}

nav > ul > li > .orange{
    color: var(--orange-color);
}

/* header section end  */

/* main section start */

/* banner section start */

.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/banner.png);
    width: calc(100vw - 270px);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner > h2{
    font-size: 64px;
    font-weight: 700;
    color: #fff;

}

.banner > p{
    width: 670px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 24px;
}

.banner > .ban-div{
    display: flex;
    gap: 24px;
    padding: 16px;
    width: 50%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    justify-content: center;
    align-items: center;
    margin-top: 48px;

}

.banner > .ban-div > div{
    width: 174px;
    height: 25px;
    padding: 16px;
    
    background-color: #fff;
    border-radius: 8px;
    
}

.banner > .ban-div > div > .on{
    border: none;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    color: rgba(19, 19, 24, 0.50);
}

.banner > .ban-div > .btn{
    background-color: var(--orange-color);
}

.banner > .ban-div > .btn > .last{
    
    color: #fff;
    background-color: var(--orange-color);
}




/* banner section end */

/* tours section start */
.tours{
    margin: 50px auto;
    width: calc(100vw - 270px);
    padding: 50px 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tours > .tour-text{
    width: 580px;
}

.tours > .tour-text > h3{
    color: #131318;
    font-size: 40px;
    font-weight: 700;
}

.tours > .tour-text > button{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: none;
padding: 14px 35px;
color: #fff;
font-size: 20px;
font-weight: 600;
}

.tours > .tour-text > p{
    margin: 24px 0;
}

.tours > .tour-text > ul{
    margin-left: 25px;
    width: 525px;

}

.tours > .tour-text > ul > li{
    margin-top: 16px;
}




/* tours section end */

/* destination start */

.destination{
    margin: 100px auto;
    width: calc(100vw - 270px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.destination > .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 50px;
}

.destination > .heading > h3{
    color: #131318;
    font-size: 40px;
    font-weight: 700;
}

.destination > .heading > p{
    width: 640px;
    text-align: center;
}

.destination > .image-container{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "img1 img1 img2 img2"
    "img3 img4 img4 img5"
    "img6 img7 img7 img7"
    ; 
    gap: 20px;

}

.destination > .image-container > .img1{
    grid-area: img1;
    height: 300px;
    background-image: url(Images/Rectangle\ 5.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destination > .image-container > .img2{
    grid-area: img2;
    height: 300px;
    background-image: url(Images/Rectangle\ 8.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination > .image-container > .img3{
    grid-area: img3;
    height: 300px;
    background-image: url(Images/Rectangle\ 6.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination > .image-container > .img4{
    grid-area: img4;
    height: 300px;
    background-image: url(Images/Rectangle\ 7.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination > .image-container > .img5{
    grid-area: img5;
    height: 300px;
    background-image: url(Images/Rectangle\ 9.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination > .image-container > .img6{
    grid-area: img6;
    height: 300px;
    background-image: url(Images/Rectangle\ 11.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination > .image-container > .img7{
    grid-area: img7;
    height: 300px;
    background-image: url(Images/Rectangle\ 10.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .destination > .image-container > .img1{
    width: 50%;
    height: 300px;
    background-image: url(Images/Rectangle\ 5.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
} */






/* destination end */

/* why section start */

.why{
    margin: 100px auto;
    width: calc(100vw - 270px);
    display: flex;
    justify-content: center;
    flex-direction: column;

}



.why > .head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 50px;
}

.why > .head > h2{
    color: #131318;
    font-size: 40px;
    font-weight: 700;
}
.why > .head > p{
    width: 640px;
    text-align: center;
}

.why > .card > .one{
    width: 40%;
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    border-radius: 16px;
}

.why > .card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.why > .card > .one > h3{
    margin-top: 32px;

}

.why > .card > .one > p{
    margin-top: 16px;
}

.why > .card > .two{
    width: 40%;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why > .card > .three{
    width: 40%;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.why > .card > .two > h3{
    margin-top: 32px;

}

.why > .card > .two > p{
    margin-top: 16px;
}

.why > .card > .three > h3{
    margin-top: 32px;

}

.why > .card > .three > p{
    margin-top: 16px;
}

.why > .card h3{
    color: #131318;
    font-size: 24px;
    font-weight: 700;

}

/* why section end */

/* customer section start */

.customer{
    margin: 100px auto;
    width: calc(100vw - 270px);
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.customer > .cus-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 50px;
}

.customer > .cus-head > h2{
    color: #131318;
    font-size: 40px;
    font-weight: 700;
}
.customer > .cus-head > p{
    width: 640px;
    text-align: center;
}


.customer > .cus-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

 .customer > .cus-card h3{
    color: #131318;
    font-size: 24px;
    font-weight: 700;

} 

.customer > .cus-card > .cad{
    width: 20%;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}



.customer > .cus-card > .cad > h3{
    margin-top: 32px;

}

.customer > .cus-card > .cad > p{
    margin-top: 16px;
}

.customer > .cus-card > .cad > button{
width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
padding: 14px 35px;
margin: 20px 0;
border: 0;
color: #fff;
font-size: 20px;
font-weight: 700;
}




/* customer section end */

/* newslatter section start */

.newslatter{
    margin: 100px auto;
    width: calc(100vw - 270px); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newslatter > .form{
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #FF5400;
    gap: 20px;
    padding: 30px;

    
}

.newslatter > .form > h3{
    font-size: 24px;
    font-weight: 700;
    color: #131318;
}

.newslatter > .form > p{
    width: 350px;
    line-height: 26px;
}

.newslatter > .form > input{
    width: 373px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    padding-left: 20px;
}

.newslatter > .form > button{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #fff;
    padding: 14px 147px;
    font-size: 20px;
    font-weight: 700;
}

.newslatter > .image{
    width: 670px;
    height: 422px;
    position: relative;

}

.newslatter > .image > img{
    width: 100%;
    display: block;
}

.newslatter > .image > .save{
    width: 324px;
    height: 120px;
    background: #FF5400;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    transform: rotate(-19.628deg);
    position: absolute;
    right: 2%;
    bottom: 13%;

    
}

.newslatter > .image > .save > h6{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.newslatter > .image > .save > h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
}

/* newslatter section end */




/* main section end */

/* footer section start */

footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 280px;
    text-align: center;
}

footer > .logo-t{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
footer > .logo-t > h3{
    font-size: 32px;
    color: #131318;
    font-weight: 700;

}
footer > .logo-t > h3 > span{
    color: #FF5400;
}

footer > p{
    width: 760px;
    text-align: center;
    margin: 20px auto;
}

footer > .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
    margin-bottom: 50px;
}

/* footer section end */

/* website responsive start*/

/* @media screen and (max-width:600px) {
    header{
        display: none;
    }

    main > .banner{
        display: none;
    }

    .tours{
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
    }

    .tours > .tour-text > p, ul > li > p{
        width: 80%;
        padding: 0 20px;
        
    }

    .tours > .tour-text > img{
        width: 100%;
        padding: 0 20px;
    }
} */

/* website responsive end */